.newarrivalcontainer {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.newarrivalcontainer div:first-child {
  margin-right: 0.8rem;
}

.newarival {
  background: var(--gray-color);
  width: 50%;
  padding: 1.9rem;
  height: 200px;
  display: flex;
}

.newarival img {
  width: 200px;
  height: 100%;
}

.newarrival-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newarrival-title{
    /* margin-bottom: 20px; */
    font-weight: 100 !important;
}

@media (max-width: 767px) {
  .newarival {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin-bottom: 1.2rem;
    height: fit-content;
  }
  .newarival div {
    margin: 1.2rem;
  }
  .newarival img {
    width: 100%;
    height: 300px;
  }
  .newarrivalcontainer {
    margin: 20px 10px;
    flex-direction: column;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
