@import url("../style/header.css");
@import url("../style/login.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("../style/topbar.css");
@import url("../style/carousel.css");
@import url("../style/newarrival.css");
:root {
  --backround-white: #f7f7f7;
  --white-color: white;
  --black-color: black;
  --blue-color: #3b82f6;
  --gray-color: gray;
}

* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background: var(--backround-white);
  font-family: "Poppins", sans-serif;
}
/* Global Styling */
.flex {
  display: flex;
}
