.wishlist-page {
  margin: 0rem 3.125rem;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wishlish-items {
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
  .wishlist-page {
    margin: 0rem 0.625rem;
  }
}
